@include font-face("Lato-Black", "Lato-Black", 400);
@include font-face("Lato-BlackItalic", "Lato-BlackItalic", 400);
@include font-face("Lato", "Lato-Bold", 700);
@include font-face("Lato", "Lato-BoldItalic", 700, Italic);
@include font-face("Lato", "Lato-Italic", 400, Italic);
@include font-face("Lato", "Lato-Light", 300);
@include font-face("Lato", "Lato-LightItalic", 300, Italic);
@include font-face("Lato", "Lato-Regular", 400);
@include font-face("Lato-Thin", "Lato-Thin", 400);
@include font-face("Lato-ThinItalic", "Lato-ThinItalic", 400);
@include font-face("Signika", "Signika-Bold", 700);
@include font-face("Signika", "Signika-Light", 300);
@include font-face("Signika-Medium", "Signika-Medium", 400);
@include font-face("Signika", "Signika-Regular", 400);
@include font-face("Signika", "Signika-SemiBold", 600);