@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';
.header {
    &__top {
        padding: 17px 0;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        font-style: Bold;
        font-size: 13px;
        line-height: 16px;
        align-items: center;
    }
    &__inner {
        background-color: #63A60F;
        padding: 30px 0;
    }
    &__bottom {
        display: flex;
        justify-content: center;
    }
}

.header-top {
    &__inner {
        background-color: #31352B;
    }
}

.left-side {
    &__hotline {
        padding-left: 10px;
    }
}

.delivery {
    align-items: center;
}

.menu {
    &__list {
        display: flex;
    }
    &__list-link {
        margin-left: 24px;
        &:hover {
            color: #b1b4ae;
            transition: all 0.5s ease;
        }
    }
}

.dropdown {
    &__btn {
        background-color: #fff;
        color: #63A60E;
    }
    &__menu {
        visibility: hidden;
    }
}

.search {
    &__form {
        display: flex;
    }
    &__input {
        border: none;
        width: 419px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    &__button {
        background-color: #31352B;
        text-transform: uppercase;
        font-size: 14px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.user-nav {
    display: flex;
    &__link {
        position: relative;
    }
    &__link+.user-nav__link {
        padding-left: 33px;
    }
    &__num {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: #CF3E3B;
        background-color: #fff;
        font-weight: 600;
        font-size: 10px;
        top: -8px;
        left: 25px;
        line-height: 18px;
        text-align: center;
    }
}